@using FreePosting.Data
@using FreePosting.Models
@model IEnumerable<PostsViewModel>





<div class="container" style="margin-top:50px">
    <div class="col-lg-8 col-md-offset-5">
        <h1>New Postings!!</h1>
        <br />
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-offset-3">
            @foreach (PostsViewModel p in Model)
            {
                <div class="well">
                    <h3>@p.Post.Text</h3>
                    @if (p.Post.Name != null)
                    {
                        <h4>Posted By: @p.Post.Name</h4>
                    }
                    <div class="col-lg-8">
                        <h5>Interested in buying/selling? Please call me at: @p.Post.Number </h5>
                    </div>
                    <div class="col-md-offset-8">
                        <span class="glyphicon glyphicon-time"></span>@p.Post.DateSubmitted
                    </div>
                    <br />
                    <form action="/home/delete?id=@p.Post.Id" method="post">
                        @if (p.CanDelete)
                        {
                            <button class="btn btn-success">Delete</button>
                        }

                    </form>
                </div>

            }
        </div>

    </div>

</div>














